<div class="jumbotron">
    <h1>Интернет-провайдер Radix</h1>
    <p class="lead">Лучшие цены, широкий набор услуг, обслуживание 24/7</p>
    <p>@Html.ActionLink("Просмотреть набор услуг", "ServiceList")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Надежность</h2>
        <p>
            Radix – это команда профессионалов, которая работает на благо каждого абонента. 
            В любое время суток мы предоставляем квалифицированную помощь в подключении и обслуживании наших клиентов. 
            Мы заботимся о комфорте абонентов нашей компании.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Защищенность</h2>
        <p>Наши пользователи могут не беспокоиться об утечках данных, атаках хакеров или перебоях в работе сети.
        Благодаря новейшему высокоскоростному оборудованию пользователи нашей сети максимально защищены,
        а команда профессионалов по информационной безопасности следит за возможными атаками со стороны.</p>
    </div>
    <div class="col-md-4">
        <h2>Доступность</h2>
        <p>Кредо нашей компании – услуга должна быть доступной и понятной! Именно поэтому мы следим за ценовой политикой, 
        чтобы наши клиенты получали услуги наивысшего качества за минимальную цену.</p>
    </div>
</div>