@model InternetProvider.Web.Models.UserPageViewModel

<h2>Кабинет пользователя</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройки аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")
            }
            ]
        </dd>
        <dt>Остаток на счету:</dt>
        <dd>@model.Balance </dd>
        <dd>@Html.ActionLink("Пополнить баланс", "Payment")</dd>
    </dl>
</div>
