@model InternetProvider.Web.Models.LiqPayCheckoutFormModel
@{
    ViewBag.Title = "Оплата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оплата услуг</h2>
<br />
<br />
<form method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout">
    <input type="hidden" name="data" value="@Model.Data" />
    <input type="hidden" name="signature" value="@Model.Signature" />
    <div class="col-4 col-offset-4">
        <button class="btn btn-success">Оплатить</button>
    </div>
</form>